<?xml version="1.0"?>
<Settings>
	<Tiles>
		<Tile>
			<Width>200</Width>
			<Height>100</Height>
			<Background>"#e57200"</Background>
			<Title>"Sharepoint"</Title>
			<Name>"tile_APP1"</Name>
		</Tile>
		<Tile>
			<Width>100</Width>
			<Height>100</Height>
			<Background>"#e57200"</Background>
			<Title>"App2"</Title>
			<Name>"tile_APP2"</Name>
		</Tile>
		<Tile>
			<Width>100</Width>
			<Height>100</Height>
			<Background>"#f3d03e"</Background>
			<Title>"App3"</Title>
			<Name>"tile_APP3"</Name>
		</Tile>
		<Tile>
			<Width>100</Width>
			<Height>100</Height>
			<Background>"#f3d03e"</Background>
			<Title>"App4"</Title>
			<Name>"tile_APP4"</Name>
		</Tile>
		<Tile>
			<Width>200</Width>
			<Height>100</Height>
			<Background>"#e57200"</Background>
			<Title>"o365"</Title>
			<Name>"tile_APP5"</Name>
		</Tile>
	</Tiles>
</Settings>